* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
}

header {
    text-align: center;
    padding: 40px;
    background: #020617;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    padding: 40px;
}

.proyecto {
    background: #020617;
    padding: 20px;
    border-radius: 12px;
}

.links {
    margin-top: 15px;
}

.links a {
    margin-right: 10px;
    text-decoration: none;
    color: #38bdf8;
    font-weight: bold;
}

.links a:hover {
    text-decoration: underline;
}
